body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../../assets/img/background/waves.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
}



s,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: white;
}

span {
    font-size: medium;
}

.borda:hover {
    border: #ff7301 3px solid;
    border-radius: 15px;
    box-shadow: inset 0 0 25px #ff7301, 0 0 25px 0 #ff7301;
    transform: scale(1.05);
    font-size: 15.5px;
}

body .margem-nav {
    margin-top: 120px;
}

.col .borda .card {
    border-radius: 15px;
}

.borda-imagem {
    border-radius: 15px;
}

.preco {
    font-size: 20px;
    color: #ff7301;
}

.precoMais {
    font-size: 20px;
    color: #7fff00;
}

.frete {
    color: #ff7301;
}

.negrito {
    font-weight: 700;
}

.card-body>hr {
    color: white;
}

.col>.borda>.card {
    background-color: black;
}

.navbar-nav>.nav-item>a {
    color: white;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

.modal-header h1 {
    color: black;
}

.col h2 {
    color: #7fff00;
}

.neon {
    line-height: 2;
    color: #ff7301;
    animation: neon 1s ease-in-out infinite alternate;
}

.neon-white {
    line-height: 2;
    color: #fcfcfc;
    animation: neon-white 3s ease-in-out infinite alternate;
}

.blur {
    background-color: #001220;
    opacity: 99%;
    box-shadow: 5px 5px 5px #ff7301;
}

.justify {
    text-align: justify;
}

.inversor {
    filter: invert(100%);
}

.card-footer .d-inline-block a {
    color: transparent;
}

.card-subtitle {
    font-weight: 900;
}

.btn-pesquisa {
    width: 65px;

}

@keyframes neon {
    from {
        text-shadow: 0 0 35px #ff7301,
            0 0 40px #f43f00,
            0 0 55px #ff5101;
    }
}

@keyframes neon-white {
    from {
        text-shadow: 0 0 35px white,
            0 0 40px whitesmoke,
            0 0 55px wheat;
    }
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff7301;
    border-radius: 20px;
    border: 3px solid #f24f00;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {

    html {
        font-size: 1rem;
        width: 100% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
            display: none;
        } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 65px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }

    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
            display: none;
        } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 75px;
    }

    /* dody do produto sem os botões */
    .body-card {
        min-height: 350px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 35%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 300px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 10px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 10px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-top: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {

    html {
        font-size: 1rem;
        width: 100% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
            display: none;
        } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 65px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }

    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
            display: none;
        } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 100px;
    }

    /* dody do produto sem os botões */
    .body-card {
        min-height: 400px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 50%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 400px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 10px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 10px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-top: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    html {
        font-size: 1rem;
        width: 100% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
            display: none;
        } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 65px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }

    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
            display: none;
        } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 50px;
    }

    /* dody do produto sem os botões */
    .body-card {
        min-height: 400px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 75%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 450px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 10px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 10px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-top: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    html {
        font-size: 1rem;
        width: 100% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
            display: none;
        } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 70px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }


    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
            display: none;
        } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 100px;
    }

    /* dody do produto sem os botões */
    .body-card {
        min-height: 400px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 75%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 250px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 0px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-bottom: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-bottom: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    html {
        font-size: 1rem;
        width: 100% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
                display: none;
            } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 65px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }


    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
                display: none;
            } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 140px;
    }

    /* dody do produto sem os botões */
    .body-card {
        min-height: 500px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 75%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 250px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 0px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-bottom: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-bottom: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    html {
        font-size: 1.5rem;
        width: 300% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div .negrito {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.3rem;
    }

    div div .precoMais {
        font-size: 1.3rem;
    }

    header .margem-nav {
        margin-top: 75px;
    }

    div div .text-start p {
        display: none;
    }

    .card-body .margem-produto {
        min-height: 140px;
    }

    .img-sobre-nos {
        width: 100px;
    }

    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    .card-body .card-subtitle {
        margin-top: 25px;
    }

    .card-body .justify {
        min-height: 350px;
    }

    .card-body .espaco-colaboradores {
        margin-bottom: 10px;
    }

    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    .card-body .margem-icones {
        margin-bottom: 0px;
    }

    .card-body .margem-iconesG {
        margin-top: 65px;
    }

    .card-body .margem-iconesW {
        margin-top: 30px;
    }

    .card-body .margem-iconesF {
        margin-bottom: 20px;
    }

    .card-body .margem-iconesL {
        margin-bottom: 0px;
    }

    .card-footer div a img {
        width: 50px;
    }

    .social-inner img {
        width: 35px;
    }

    .preco-mil {
        font-size: 18px;
    }
}

@media screen and (min-width: 400px) and (max-width: 576px) {

    html {
        font-size: 1.5rem;
        width: 350% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
        display: none;
    } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 90px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }


    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
        display: none;
    } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 140px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 75%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 450px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 0px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-bottom: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-bottom: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}

@media screen and (min-width: 250px) and (max-width: 400px) {

    html {
        font-size: 1.3rem;
        width: 400% !important;
    }

    p,
    span,
    s,
    h6 {
        font-size: 1.5rem;
    }

    div div h6 {
        font-size: 1.5rem;
    }


    /* .d-inline-block h6 {
        display: none;
    } */

    /* margem entre o body da navbar */
    header .margem-nav {
        margin-top: 0px;
    }

    /* largura do botão de pesquisa */
    span .btn-pesquisa {
        width: 90px;
    }


    /* texto laranja na promoção produtos */
    div div .negrito {
        font-size: 1.5rem;
    }


    /* valor do produto em verde  */
    div div .precoMais {
        font-size: 1.5rem;
    }

    /* preços a partir de mil reais */
    .preco-mil {
        font-size: 18px;
    }

    /* texto a mais dos produtos */
    /* .d-none-sm {
        display: none;
    } */

    /* altura da caixa de texto dos produtos */
    .card-body .margem-produto {
        min-height: 140px;
    }

    /* imagem do lado do texto */
    .img-sobre-nos {
        width: 100%;
    }

    /* icones de missão, visão e valores */
    .col-desktop-4 .icone-quem-somos {
        width: 50px;
    }

    /* altura de todos os cards */
    .row .card-body {
        min-height: 100px;
        justify-content: center;
    }

    /* frase com o cargo do colaborador */
    .card-body .card-subtitle {
        margin-top: 25px;
    }

    /* descrição dos colaboradores */
    .card-body .justify {
        min-height: 450px;
    }

    /* margem entre o nome do colaborador Gustavo com sua descrição */
    .card-body .espaco-colaboradoresG {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador Gustavo */
    .card-body .margem-iconesG {
        margin-top: 0px;
    }

    /* margem entre o nome do colaborador William com sua descrição */
    .card-body .espaco-colaboradoresW {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo do colaborador William */
    .card-body .margem-iconesW {
        margin-top: 0px;
    }

    /* margem entre o nome da colaboradora Fabiola com sua descrição */
    .card-body .espaco-colaboradoresF {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Fabiola */
    .card-body .margem-iconesF {
        margin-bottom: 0px;
    }

    /* margem entre o nome da colaboradora Lorena com sua descrição */
    .card-body .espaco-colaboradoresL {
        margin-bottom: 10px;
    }

    /* distancia entre os icones e o cargo da colaboradora Lorena */
    .card-body .margem-iconesL {
        margin-bottom: 0px;
    }

    /* redes sociais do colaborador */
    .card-footer div a img {
        width: 50px;
    }

    /* redes sociais da empresa */
    .social-inner img {
        width: 35px;
    }
}