body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../../assets/img/background/waves.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

s,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: white;
}

span {
    font-size: small;
}

.borda:hover {
    /* border: 5px solid #7fff00; */
    /* box-shadow: 0px 0px 20px #7fff00; */
    border: #ff7301 3px solid;
    border-radius: 15px;
    box-shadow: inset 0 0 25px #ff7301, 0 0 25px 0 #ff7301;
    /* width: 102%; */
    transform: scale(1.05);
    font-size: 15.5px;
}

body .margem-nav {
    margin-top: 120px;
}

.col .borda .card {
    border-radius: 15px;
}

.borda-imagem {
    border-radius: 15px;
}

.preco {
    font-size: 20px;
    color: #ff7301;
}

.precoMais {
    font-size: 20px;
    color: #7fff00;
}

.frete {
    color: #ff7301;
}

.negrito {
    font-weight: 700;
}

.card-body>hr {
    color: white;
}

.col>.borda>.card {
    background-color: black;
}

.navbar-nav>.nav-item>a {
    color: white;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

.modal-header h1 {
    color: black;
}

.col h2 {
    color: #7fff00;
}

.neon {
    line-height: 2;
    color: #ff7301;
    animation: neon 1s ease-in-out infinite alternate;
}

.neon-white {
    line-height: 2;
    color: #fcfcfc;
    animation: neon-white 3s ease-in-out infinite alternate;
}

.blur {
    background-color: #001220;
    opacity: 99%;
    box-shadow: 5px 5px 5px #ff7301;
}

.justify {
    text-align: justify;
}

.inversor {
    filter: invert(100%);
}

.card-footer .d-inline-block a {
    color: transparent;
}

.card-subtitle {
    font-weight: 900;
}

.btn-pesquisa {
    width: 65px;

}

@keyframes neon {
    from {
        text-shadow: 0 0 35px #ff7301,
            0 0 40px #f43f00,
            0 0 55px #ff5101;
    }
}

@keyframes neon-white {
    from {
        text-shadow: 0 0 35px white,
            0 0 40px whitesmoke,
            0 0 55px wheat;
    }
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff7301;
    border-radius: 20px;
    border: 3px solid #f24f00;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}


@media screen and (max-width: 1749px) {

    .row .card-body {
        min-height: 400px;
        justify-content: center;
    }

    .card-body .card-subtitle {
        margin-top: 50px;
    }

    .card-body .justify {
        min-height: 175px;
    }

    .carousel-inner>.carousel-item>img {
        margin: auto;

    }

    body header .margem-nav {
        margin-top: 100px;
        transform: scale(0.1);
    }

    html {
        font-size: 1rem;
    }
}

/* @media screen and (max-width: 1301px) {

    .row .card-body {
        min-height: 400px;
        justify-content: center;
    }

    .card-body .card-subtitle {
        margin-top: 50px;
    }

    .card-body .justify {
        min-height: 200px;
    }

    body .margem-nav {
        margin-top: 130px;
    }

    html {
        font-size: 1rem;
    }
} */

/* @media screen and (max-width: 1254px) {

    .row .card-body {
        min-height: 400px;
        justify-content: center;
    }

    .card-body .card-subtitle {
        margin-top: 50px;
    }

    .card-body .justify {
        min-height: 200px;
    }

    body .margem-nav {
        margin-top: 145px;
    }

    html {
        font-size: 1rem;
    }
} */

/* @media screen and (max-width: 1174px) {

    .row .card-body {
        min-height: 400px;
        justify-content: center;
    }

    .card-body .card-subtitle {
        margin-top: 50px;
    }

    .card-body .justify {
        min-height: 225px;
    }

    body .margem-nav {
        margin-top: 145px;
    }

    html {
        font-size: 0.9rem;
    }
} */

/* @media screen and (max-width: 1046px) {

    .row .card-body {
        min-height: 200px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 25px;
    }

    .card-body .justify {
        height: 100px;
    }

    body .margem-nav {
        margin-top: 145px;
    }

    html {
        font-size: 0.7rem;
    }
} */

/* @media screen and (max-width: 940px) {

    .row .card-body {
        min-height: 200px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 25px;
    }

    .card-body .justify {
        height: 100px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        max-width: 50%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    body .margem-nav {
        margin-top: 145px;
    }

    html {
        font-size: 0.7rem;
    }
} */

/* @media screen and (max-width: 913px) {

    .row .card-body {
        min-height: 200px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 20px;
    }

    .card-body .justify {
        height: 125px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        max-width: 50%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    body .margem-nav {
        margin-top: 145px;
    }

    html {
        font-size: 0.7rem;
    }
} */

/* @media screen and (max-width: 825px) {

    .row .card-body {
        min-height: 230px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 20px;
    }

    .card-body .justify {
        height: 145px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        max-width: 50%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    body .margem-nav {
        margin-top: 175px;
    }

    html {
        font-size: 0.7rem;
    }
} */

/* @media screen and (max-width: 801px) {

    .row .card-body {
        min-height: 225px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 2px;
    }

    .card-body .justify {
        height: 130px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        width: 80%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    .input-group span img {
        width: 45px;
    }

    body .margem-nav {
        margin-top: 50px;
    }

    html {
        font-size: 0.6rem;
    }
} */

/* @media screen and (max-width: 585px) {

    .row .card-body {
        min-height: 100px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 20px;
    }

    .card-body .justify {
        height: 50px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        max-width: 75%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    .input-group span img {
        width: 35px;
    }

    body .margem-nav {
        margin-top: 60px;
    }

    html {
        font-size: 0.4rem;
    }
} */

/* @media screen and (max-width: 585px) {

    .row .card-body {
        min-height: 100px;
        justify-content: end;
    }

    .card-body .card-subtitle {
        margin-top: 20px;
    }

    .card-body .justify {
        height: 50px;
    }

    .container-fluid .input-group .form-control {
        margin: 0 auto;
        max-width: 75%;
    }

    .card-footer .d-inline-block a img {
        width: 25px;
    }

    .input-group span img {
        width: 45px;
    }

    body .margem-nav {
        margin-top: 60px;
    }

    html {
        font-size: 0.4rem;
    }
} */