body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.assento {
  margin-left: 1vw;
  margin-bottom: 0.5vw;
  width: 4vw;
  height: 4vw;
  background-color: orangered;
  border-radius: 1vw;
  border-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.assento:nth-child(2) {
  margin-right: 3vw;
}

.assento:disabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}