Html {
    background-color: #EBEBEB;
    font-family: sans-serif;
}

.Header {
    background-color: gray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.H-Loja,
.H-Carrinho {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.5rem;
}

.C-NomeCarrinho {
    font-weight: 500;
}

.C-Produto {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.S-Produto {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.C-ProdutoBody {
    min-height: 300px;
    width: 25vh;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.S-ProdutoBody {
    min-height: 300px;
    width: 25vh;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.C-Titulo {
    max-height: 15vh;
    font-size: 1rem;
}

.S-Titulo {
    max-height: 15vh;
    font-size: 1rem;
}

.C-Preco {
    font-weight: 900;
    font-size: 0.9rem;
}

.S-Preco {
    font-weight: 900;
    font-size: 0.9rem;
}

.C-Imagem {
    width: 75%;
    margin-bottom: 25px;
}

.S-Imagem {
    width: 75%;
    margin-bottom: 25px;
}

.C-Botao {
    width: 5vh;
    margin: 10px;
    border-radius: 10%;
    background-color: beige;
}

.S-Botao {
    width: 5vh;
    margin: 10px;
    border-radius: 10%;
    background-color: beige;
}

.C-BotaoInterno {
    width: 3vh;
    height: 3vh;
    color: red;
    background-color: beige;
}

.S-BotaoInternoOK {
    width: 3vh;
    height: 3vh;
    color: green;
    background-color: beige;
}

.S-BotaoInternoADD {
    width: 3vh;
    height: 3vh;
    color: black;
    background-color: beige;
}