.ProductArea {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ProductArea div {
    min-height: 500px;
    width: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}